.accordion {
    background-color: #323232;
    padding-left: 75px;
    padding-right: 125px;
    // margin-bottom: px;
    margin-top: 24px;
    &__header-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__header{
        background-color: #414141;
        display: flex;
        justify-content: space-between;
        color: white;
    }
    &__con1{
        // width: 100vw;
        // flex-direction: row;
    }
    &__con2{
        min-width: 100%;
        // height: 100%;
    }
    &__saved-pl{
        width: 100%;
    }
    &__pl-cover{
        width: 60px;
        height: 60px;
    }
    &__btn {
        background-color: #414141;
        border: none;
    }
}

.my-collapse {
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    background-color: #616161;
}
