.mood {
  width: 100%;
  background-color: #393939;
  flex: 1;

  &__header {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    color: white;
  }

  &__selection-list {
    padding: 0rem 4rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10rem;
    row-gap: 5rem;
    justify-content: center;
  }
}
