.playlist-gen{
    width: 100%;
    height: 100vh;
    // flex-direction: column;
    &__main{
        display: grid;
        grid-template-columns: 1fr 3fr;
        height: 100%;
    }
    &__leftbar{
        display: flex;
        justify-content: center;
    }
    &__content {
      height: 100%;
      // background-color: #323232;
      // overflow: hidden; //works how i want it, but does not let you vert scroll
      overflow: auto; //works how i want it, but does not let you vert scroll

    }
}
