.saved-pl {
  // display: flex;
  &__tracklist {
  }
  &__track {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding-top: 16px;
      padding-bottom: 16px;
  }
  &__track-cover-con{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  &__track-cover{
      width: 64px;
      height: 64px;
  }
  &__track-title,
  &__track-artist,
  &__track-album,
  &__track-duration, {
      display: flex;
      align-items: center;
      color: white;
      
  }
}
