.saved-pl {
  // display: flex;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: scroll;
    &__track-lists{
        display: inline-flex;
        padding-bottom: 16px;
    }
    &__pl-id{
        font-weight: 600;
        padding-bottom: 10px;
    }
    &__track{
        padding-right: 16px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    &__track-cover {
        width: 64px;
        height: 64px;
        display: inline-block;
        margin-right: 0;
    }
    &__track-name{
        font-weight: 600;
        display: inline-block;
    }
    &__track-artist{
        display: inline-block;
    }
    &__text-con{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
}
