.saved-pl {
    display: flex;
    justify-content: space-around;
  &__tracklist {
      display: inline-flex;
      flex-direction: row;
      // max-width: 60vw;
      // flex: 0 0 64px;  /* don't grow, don't shrink, stay at 64px width */
  }
  &__track {
      // display: grid;
      // display: inline-flex;
      // grid-template-columns: repeat(2, 1fr);
      padding: 16px;
  }
  &__track-cover-con{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px dashed blue;
  }
  &__track-cover{
      position: relative;
      width: 64px;
      height: 64px;
      border-radius: 50%;
  }
  &__track-artist,
  &__track-album {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      font-size: 14px;
      
  }
  &__track-title{
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      color: white;
      font-size: 18px;
      font-weight: 600;
  }
  // &__track-primary-con{
  //     // border: 1px dashed red;
  //     display: flex;
  //     flex-direction: row;
  // }
  &__title-album-con {
      // flex: 0 0 220px;  /* don't grow, don't shrink, stay at 220px width */
      align-items: center;
  }
  
}
.inner-circle-w {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
}

.inner-circle-g {
    position: absolute;
    background-color: #616161;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
}

.carousel {
    max-width: 55vw;
    // flex: 1 1 1;
}

.slider-list {
    width: 400%;
}
