.profile {
  width: 100%;
  height: 100vh;
  
  &__main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    // padding: 0 8rem;
  }

  &__back-icon {
    height: 64px;
    width: 64px;
    margin-left: 2rem;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__content {
      color: white;
      height: 100%;
      background-color: #323232;
      // overflow: hidden; //works how i want it, but does not let you vert scroll
      overflow: auto; //works how i want it, but does not let you vert scroll
  }
}
